node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Foundry files
cache/
out/
forge-cache/

# Ignores development broadcast logs
/broadcast

# Localhost deployment files
deployments/localhost

# Encoded trait data
script/files/**/*.abi
script/files/**/*.json
script/files/**/*.txt
script/files/**/*.png

# Temporarly ignore testnet deployments
deployments/fuji

# Mac files
.DS_Store
