[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.4.0
[submodule "lib/nft-base-contracts"]
	path = lib/nft-base-contracts
	url = https://github.com/traderjoe-xyz/nft-base-contracts
