node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Foundry files
cache/
out/
forge-cache/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Localhost deployment files
deployments/localhost

# Temporarly ignore testnet deployments
deployments/fuji
# files/assets-data
test/files
